body{
  background-color: skyblue;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y:hidden;
  padding:0;
  margin:0;
  display:flex;
  flex-direction: column;
}

header{
  background-color: grey;
  color: white;
  display:flex;
  width: 100%;
  height: 4rem;
  gap:2rem;
  align-items: center;
  margin:0;
  justify-content: space-around;
}
h1{
  font-size: 3rem;
  margin:0;
  padding: 0;
}
.meta-stats{
display: flex;
justify-content: space-evenly;
gap: 2rem;
font-size: 1.5rem;

}

.meta-stats li{
  list-style: none;
}

main{
  width:100%;
  height: 60vh;
background-image: url(/Images/battle-bg.svg.svg);
background-position-y:-10rem;
position: relative;


}
.battle-area{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100%;
  width: 100%;
  
}
.player,.enemy{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-sprite{
  color:white;
  font-size: 8rem;
}
.enemy-intent{
  background-color: white;
  border: 1px white solid;
  border-radius: 9px;
  width:4rem;
  height:4rem;
  margin-bottom: 1rem;
  display: grid;
  align-content:center;

}
.block-display{
  background-color: white;
  border: 1px white solid;
  border-radius: 10px;
  width:4rem;
  height:4rem;
  margin-bottom: 2rem;
  display: grid;
  align-content:center;

}
.enemy-sprite{
  color: red;
  font-size: 11rem;
}


.player-health{
  color:white;
  font-size: 2rem;
}

.enemy-health{
  color:white;
  font-size: 2rem;
}
.energy-display{
  color:white;
  font-size: 2rem;
  position: absolute;
  left:1rem;
  bottom:1rem;
}